<div class="products__item">
  <div class="products__image">
    <img src="/images/products/{{product.image}}.png" alt="Macaroon">
  </div>
  <div class="products__name">
    {{product.title}}
  </div>
  <div class="products__info">
    <div class="products__description">
      <div class="products__weight">
        1 шт.
      </div>
      <div class="products__price">
        1,70 руб.
      </div>
    </div>
    <div class="products__action">
      <button class="btn products__btn">Заказать</button>
    </div>
  </div>
</div>
