
@font-face {
  font-family: GilroyRegular;
  src: url("../../public/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: GilroyBold;
  src: url("../../public/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: GilroyExtraBold;
  src: url("../../public/fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: GilroyMedium;
  src: url("../../public/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Travolga;
  src: url("../../public/fonts/Tavolga.otf");
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}


.header {
  padding: 36px 0 44px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.menu {
  width: 312px;
  margin-left: 233px;
}

.menu__list {
  display: flex;
  list-style: none;
  justify-content: space-between;

}

.menu__item {
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;
}

.menu__item:hover {
  border-bottom: 3px solid rgb(119, 11, 29);
}

.menu__link {
  font-size: 14px;
  font-family: GilroyMedium, sans-serif;
  color: rgb(119, 11, 29);
  text-decoration: none;
}


.contacts {
  margin-left: 329px;
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.main {
  padding: 127px 0 108px 0;
}

.main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__title {
  font-size: 55px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.091;
  margin-bottom: 59px;
}

.main__text {
  max-width: 349px;
  font-size: 18px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.389;
  margin-bottom: 80px;
}



.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.main__btn {
  padding: 22px 43px 21px 42px;
  font-size: 18px;
}

.main__info {
  max-width: 585px;
}

.main__image {
  position: relative;
}

.main__image::before {
  content: "";
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid #71081EFF;
  z-index: -1;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  animation: pulse1 2s ease infinite;
  animation-delay: 1s;
}

@keyframes pulse1 {
  0% {
    transform: scale(1);
  }

  90% {
    transform: scale(3.5);
  }

  100% {
    opacity: 0;
  }
}


.main__image::after {
  content: "";
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid #71081EFF;
  z-index: -1;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  animation: pulse 2s ease infinite;
  animation-delay: .5s;
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  90% {
    transform: scale(3.5);
  }

  100% {
    opacity: 0;
  }
}


.main__image-img {
  max-width: 100%;
}

.about-us {
  padding: 120px 0 38px 0;
  background-color: #ffefef;
}

.about-us_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us__info {
  max-width: 675px;
}

.about-us__title {
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  margin-bottom: 60px;
  max-width: 475px;
}

.about-us__text {
  font-size: 18px;
  font-family: "GilroyRegular", sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  max-width: 400px;
}

.about-us__image-img {
  transition: 1s ease;
  max-width: 100%;
}

.advantages {
  padding: 58px 0 128px 0;
  background-color: #ffefef;
}

.item {
  margin-bottom: 25px;
}

.advantages__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  justify-content: center;
  align-items: center;
  grid-column-gap: 87px;
  row-gap: 80px;
}

.advantages__step {
  background-color: #821328;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  font-size: 60px;
  font-family: GilroyExtraBold, sans-serif;
  color: rgb(255, 255, 255);
  position: relative;
  transition: 0.5s ease;
  margin-bottom: 13px;
}

.advantages__step:hover {
  background-color: #eba8b1;
  color: #821328;;

}

.advantages__step-number {
  position: absolute;
  bottom: -21px;
  left: 19px;
}

.advantages__item-title {
  font-size: 20px;
  font-family: GilroyExtraBold, sans-serif;
  color: rgb(51, 25, 7);
  margin-bottom: 20px;
}

.advantages__item-description {
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.333;
}


.products {
  padding: 120px 0;
}

.products__title {
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.222;
  text-align: center;
  margin-bottom: 153px;
}

.products__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 263px);
  gap: 136px 29px;
  justify-content: center;
  align-items: center;
}

.products__item {
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 20px;
  width: 263px;
  text-align: center;
  padding: 109px 21px 27px 20px;
  box-sizing: border-box;
  position: relative;
}

.products__item:hover img {
  transform: scale(1.15);
}

.products__image img {
  position: absolute;
  top: -61px;
  right: calc(50% - 96px);
  transition: 0.5s ease;
}

.products__name {
  font-size: 18px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 26px;
}

.products__info {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.products__price,
.products__weight {
  font-size: 15px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(255, 255, 255);
}

.products__btn {
  padding: 19px 29px 20px 29px;
  font-size: 16px;
}


.order {
  padding: 97px 0 120px 0;
  background-color: #ffefef;
}

.order__container {
  display: flex;
  position: relative;
}

.order__image {
  align-self: center;
}

.order__image img {
  max-width: 100%;
}

.order__form {
  margin-left: 161px;
}

.order__title {
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  margin-bottom: 40px;
}

.order__text {
  font-size: 18px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  max-width: 396px;
  margin-bottom: 48px;
}

.order__choice {
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: rgb(18, 10, 6);
}

.order__choice-form {
  display: flex;
  flex-direction: column;
}

.order__input-choice {
  margin-bottom: 21px;
}

.order__user-info {
  display: flex;
  flex-direction: column;
}

.order__input-info {
  margin: 25px 0 22px 0;
}

.order__input {
  border-width: 1px;
  border-color: rgb(130, 19, 40);
  border-style: solid;
  border-radius: 30px;
  padding: 23px 26px 24px 26px;
  margin-bottom: 15px;
  background-color: transparent;
  font-size: 15px;
  font-family: GilroyBold, sans-serif;
  color: rgb(118, 12, 34);
}

.order__input::placeholder {
  font-size: 15px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(118, 12, 34);

}

.order__btn {
  padding: 22px 75px 22px 74px;
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
}

.strawberry-big {
  position: absolute;
  top: 45px;
  left: 15px;
  animation: MoveUpDownBig 2s linear infinite;
}

@keyframes MoveUpDownBig {
  0%, 100% {
    top: 45px;
    left: 15px;
  }
  50% {
    top: 70px;
  }
}


.strawberry-small {
  position: absolute;
  right: 120px;
  bottom: 75px;
  animation: MoveUpDownSmall 2s infinite linear;
}

@keyframes MoveUpDownSmall {
  0%, 100% {
    bottom: 75px;
  }
  50% {
    bottom: 100px;
  }
}

.footer {
  padding: 73px 0 63px 0;
  background-color: #c0707c;
}

.footer__container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, minmax(150px , 400px));
}

.footer__contacts {
  width: 153px;
  justify-self: end;
  margin-left: 0;
}

.rights {
  font-size: 12px;
  font-family: GilroyRegular, sans-serif;
  color: #e3acb4;
  grid-row-start: 2;


}

.socials {
  text-align: center;
  text-decoration: none;
}

.social__text {
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 15px;
}

.gift__image {
  border-radius: 50%;
  background-color: rgb(130, 19, 40);;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 18px 18px 19px;
  cursor: pointer;
}

.gift__image:hover {
  box-shadow: 0 0 13px 2.4px rgba(130, 19, 40, 0.5);
}

.gift__text {
  position: fixed;
  bottom: -30px;
  right: 140px;
  width: 172px;
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  color: rgb(119, 10, 29);
  line-height: 1.333;
  border: 2px solid #770a1d;
  padding: 16px 10px 14px 10px;
  border-radius: 10px;
  background-color: white;
  opacity: 0;
  transition: .5s ease;
  text-align: center;
}

.gift:hover .gift__text {
  opacity: 1;
  bottom: 30px;
}

.gift__text::after {
  position: absolute;
  bottom: 25px;
  right: -19px;
  content: '';
  width: 0;
  height: 0;
  border-color: transparent transparent transparent white;
  border-width: 10px;
  border-style: solid;
}

.gift__text::before {
  position: absolute;
  bottom: 22px;
  right: -26px;
  content: '';
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #770a1d;
  border-width: 13px;
  border-style: solid;
}


.burger {
  display: none;
}

.close {
  display: none;
}




@media screen and (max-width: 1359px) {
  .main__container {
    flex-direction: column;
    align-items: start;
  }

  .main__image {
    margin-left: 443px;
    margin-top: -92px;
  }

}


@media screen and (max-width: 1269px) {
  .header__container {
    justify-content: space-between;
  }

  .menu {
    margin-left: 0;
  }

  .contacts {
    margin-left: 0
  }


}


@media screen and (max-width: 1072px) {
  .main__image {
    margin-left: 343px;
    margin-top: -92px;
  }
}


@media screen and (max-width: 971px) {
  .main__image {
    margin-left: 143px;
    margin-top: -92px;
  }
}


@media screen and (max-width: 1039px) {
  .contacts {
    margin-left: 0
  }
}


@media screen and (max-width: 768px) {
  .header__container {
    justify-content: unset;
  }

  .header__contacts {
    display: none;

  }

  .menu {
    margin-left: 103px;
  }

  .main {
    padding-top: 53px;
    overflow: hidden;
  }

  .main__container {
    flex-direction: column;
    align-items: start;
  }

  .main__text {
    margin-bottom: 41px;
  }

  .main__image {
    margin-left: 143px;
    margin-top: -92px;
    width: 395px;
  }


  .about-us_container {
    flex-direction: column;

  }

  .about-us__title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }


  .about-us__text {
    margin-bottom: 40px;
    text-align: center;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;


  }

  .about-us__image {
    width: 300px;
  }

  .advantages__container {
    display: grid;
    grid-template-columns: 170px 170px;
    grid-column-gap: 87px;
    justify-content: center;
    text-align: center;
    row-gap: 80px;

  }

  .advantages__step {
    margin: 0 auto;
  }

  .advantages__item-title {
    margin-top: 13px;
  }

  .products__items {
    row-gap: 136px;

  }

  .order__form {
    order: 1;
    margin-left: 0
  }

  .order__image {
    order: 2;
    align-self: end;
    margin-bottom: -100px;

  }

  .strawberry-small {
    position: absolute;
    right: 93px;
    top: 185px;
    animation: MoveUpDownSmall 2s infinite linear;
  }

  @keyframes MoveUpDownSmall {
    0%, 100% {
      top: 185px;
    }
    50% {
      top: 150px
    }
  }

  .strawberry-big {
    position: absolute;
    top: 345px;
    left: 372px;
    animation: MoveUpDownBig 2s linear infinite;
  }

  @keyframes MoveUpDownBig {
    0%, 100% {
      left: 372px;
    }
    50% {
      top: 300px;
    }
  }


  .order__input,
  .order__btn {
    width: 293px;
    box-sizing: border-box;
  }

  .item {
    margin-bottom: 70px;
  }

}

@media screen and (max-width: 732px) {
  .about-us__text {
    margin-bottom: 40px;
    text-align: center;
    max-width: 347px;
    margin-left: auto;
    margin-right: auto;

  }

  .about-us__info {

  }
}


@media screen and (max-width: 596px) {
  .main__image {
    order: 2;
    margin-top: 38px;
    margin-right: auto;
    margin-left: auto;
  }

  .main__container {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .main__title {
    font-size: 40px;
  }

  .main__text {
    margin-right: auto;
    margin-left: auto;
  }

  .order__image {
    display: none;
  }

  .about-us__text {
    margin-bottom: 40px;
    text-align: center;
    max-width: 670px

  }
}

@media screen and (max-width: 541px) {

  .strawberry-small {
    display: none;
  }
}


@media screen and (max-width: 452px) {

  .main__title {
    font-size: 35px;
  }

  .order__title {
    font-size: 35px;
  }

  .footer__container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer__container .logo {
    margin-bottom: 40px;

  }

  .footer__contacts {
    justify-self: center;
    margin-bottom: 40px;
  }

  .rights {
    font-size: 12px;
    font-family: GilroyRegular, sans-serif;
    color: #e3acb4;
    margin-top: 19px;
    grid-row-start: 4;
  }

  .socials {
    text-align: center;
    order: 3;
  }

  .social__text {
    font-size: 16px;
    font-family: GilroyBold, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 5px;
  }
}


@media screen and (max-width: 484px) {
  .header__container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.54);
  }

  .menu.open {
    display: block;
    z-index: 2;
  }

  .burger {
    display: block;
  }

  .burger svg {
    width: 40px;
    height: 22px;
    fill: #821328;
  }

  .menu .close {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .close svg {
    width: 40px;
    height: 22px;
    fill: #821328;
  }

  .menu {
    margin-left: 0;
    padding-top: 20px;
  }

  .menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.54);
  }

  .menu__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .menu__item {
    margin: 15px 0;
    color: white;
  }


  .strawberry-big {
    position: absolute;
    top: 140px;
    left: 280px;
    animation: MoveUpDownBig 2s linear infinite;
  }

  @keyframes MoveUpDownBig {
    0%, 100% {
      top: 140px;
    }
    50% {
      top: 130px;
    }
  }

  .order__input,
  .order__btn {
    width: 344px;
    box-sizing: border-box;
  }


}


@media screen and (max-width: 425px) {
  .main__image {
    max-width: 280px;
  }

  .main__title {
    font-size: 30px;
  }

  .advantages__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    justify-content: center;
    text-align: center;
    row-gap: 30px;

  }

  .item {
    margin-bottom: 50px;
  }

  .main__text {
    font-size: 16px;
  }

  .about-us__text {
    font-size: 16px;
  }

  .about-us__title {
    font-size: 30px;
  }

  .products__title {
    font-size: 30px;
  }

  .order__title {
    font-size: 30px;
  }

  .order__text {
    font-size: 16px;
  }

}


@media screen and (max-width: 375px) {
  .main {
    padding-top: 53px;
  }

  .main__container {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .main__info {
    order: 1;
  }

  .main__title {
    color: rgb(255, 255, 255);
    line-height: 1.25;
    text-align: center;
    margin-bottom: 40px;

  }

  .main__text {
    margin-bottom: 41px;
  }

  .main__image {
    order: 2;
    margin-top: 38px;
    width: 240px;
    margin-right: auto;
    margin-left: auto;
  }


  .advantages__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 165px);
    justify-content: center;
    align-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
  }


  .advantages__step {
    margin: 0 auto;
  }

  .advantages__item-title {
    margin-top: 13px;
    font-size: 18px;
  }

  .advantages__item-description {
    font-size: 13px;

  }

  .order__form {
    order: 1;
    margin-left: 0
  }

  .order__image {
    display: none;
  }

  .gift {
    display: none;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    90% {
      transform: scale(2);
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes pulse1 {
    0% {
      transform: scale(1);
    }

    90% {
      transform: scale(2);
    }

    100% {
      opacity: 0;
    }
  }

  .advantages__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    justify-content: center;
    text-align: center;
    row-gap: 30px;

  }

  .item {
    margin-bottom: 50px;
  }

}




@media screen and (max-width: 362px) {
  .order__input {
    width: 280px;
  }

  .order__btn {
    width: 280px;
  }

  .strawberry-big {
    position: absolute;
    top: 140px;
    left: 180px;
    animation: MoveUpDownBig 2s linear infinite;
  }

  @keyframes MoveUpDownBig {
    0%, 100% {
      top: 140px;
    }
    50% {
      top: 130px;
    }
  }
}


