/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eba8b1;
}

.btn {
  background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
